@font-face {
    font-family: "Rubik";
    src: url("/public/fonts/Rubik/static/Rubik-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik";
    src: url("/public/fonts/Rubik/static/Rubik-Bold.woff2") format("woff2");
    font-weight: 700;
}