@use "./mixins.scss" as *;

.container {
    width: 100%;
    max-width: calc(var(--container-padding-x) * 2 + var(--container-width));
    margin: 0 auto;
    padding: 0 var(--container-padding-x);
    position: relative;
}