@use "../../styles/mixins.scss" as *;
@use "../../styles/media.scss" as media;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;
    column-gap: 40px;

    @include media.respond-to(tablet) {
        column-gap: 20px;
    }

    // Left part navigation menu
    &__menu {
        display: flex;
        align-items: center;
        column-gap: 40px;
        width: 100%;

        @include media.respond-to(tablet) {
            column-gap: 20px;
        }

        @include media.custom-respond(650px) {
            display: none;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 12px;

        @include media.respond-to(desktop) {
            svg:nth-child(2) {
                display: none;
            }
        }

        @include media.custom-respond(700px) {
            display: none;
        }

    }

    &__catalog {
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: 100%;

        @include media.custom-respond(880px) {
            button {
                padding-left: 8px;
            }

            p {
                display: none;
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid var(--color-secondary);
        border-radius: 4px;
        padding: 8px 24px;
        color: var(--color-secondary);
        width: 100%;
        column-gap: 6px;
    }

    &__input {
        @include font-xs;

        width: 100%;
    }

    // Right part actions
    &__actions {
        display: flex;
        align-items: center;
        column-gap: 24px;
        height: 100%;

        @include media.custom-respond(650px) {
            justify-content: space-between;
            column-gap: 12px;
            width: 100%;
        }
    }

    &-action {
        @include fluid-text(10, 16);

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        height: 50px;
        justify-content: space-between;
        cursor: pointer;

        &:first-child {
            display: none;
        }

        &__icon {
            transition: all .4s ease;
        }

        @include hover {
            .header-action__icon {
                color: var(--color-primary-hover);
            }
        }

        &__description {
            line-height: normal;
        }

        @include media.custom-respond(650px) {
            &:first-child {
                display: flex;
            }
        }
    }

    &__button {
        padding-left: 24px;

        @include media.respond-to(tablet) {
            padding-left: 8px;

            p {
                display: none;
            }
        }

        @include media.custom-respond(650px) {
            p {
                display: inline;
            }
        }

        @include media.custom-respond(mobileL) {
            p {
                display: none;
            }
        }
    }
}