@use "../../styles/mixins.scss" as *;
@use "../../styles/media.scss" as media;

.footer {
    padding: 40px 28px;
    margin-top: 200px;
    background-color: #f9f4e2;
    background-image: url("/public/images/footer/footer-pattern-bg.png");
    background-repeat: repeat;

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        row-gap: 25px;

        @include media.respond-to(tablet) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        img {
            width: 80px;

            @include media.respond-to(mobile) {
                width: 120px;
            }
        }

        @include media.respond-to(tablet) {
            order: -2;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        column-gap: 30px;
        flex-wrap: wrap;

        @include media.respond-to(tablet) {
            column-gap: 15px;
            width: 100%;
            justify-content: space-between;
        }

        &-link {
            font-size: 18px;
            cursor: pointer;
            text-decoration: none;
            color: var(--color-surface-text);
            transition: all 0.4s ease;

            @include hover {
                color: var(--color-primary-hover);
            }

            @include media.respond-to(tablet) {
                font-size: 16px;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin-left: auto;

        @include media.respond-to(tablet) {
            order: -1;
            flex-direction: column;
            row-gap: 20px;
        }

        @include media.respond-to(mobile) {
            margin: 0;
        }
    }

    &__socials {
        display: grid;
        grid-template-columns: repeat(4, 24px);
        column-gap: 20px;
        margin-left: auto;

        &-link {
            color: var(--color-surface-text);
            transition: all 0.4s ease;

            @include hover {
                color: var(--color-secondary-hover);
            }
        }

        @include media.custom-respond(1250px) {
            grid-template-columns: repeat(2, 24px)
        }

        @include media.respond-to(tablet) {
            grid-template-columns: repeat(4, 24px)
        }
    }

    &__phone {
        @include font-xs;

        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: var(--color-surface-text);
        transition: all 0.4s ease;
        width: 140px;

        @include hover {
            color: var(--color-secondary-hover);
        }
    }

    &__design {
        @include font-xs;

        display: flex;
        align-items: center;
        column-gap: 10px;
        color: var(--color-surface-text);
        transition: all 0.4s ease;
        margin-left: auto;

        img {
            height: 15px;
            object-fit: cover;
        }

        @include hover {
            color: var(--color-primary-hover);
        }
    }
}